{% extends "::base.html.twig" %}

{% block body %}
    <table class="table col-md-6 panel panel-primary ">
        <thead class="panel-heading panel-title">
        <tr>
            <th>id</th>
            <th>Descriptions</th>
            <th>Date of creation</th>
            <th>Is solved?</th>
            <th style="text-align: center"><i class="fa fa-times" style='color: red' aria-hidden="true"></i>
                <i class="fa fa-check" style='color: green' aria-hidden="true"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for problem_message in problemMessages if problemMessages is not empty %}
            <tr>
            <th scope="row">{{ problem_message.id }}</th>
            <td>{{ problem_message.problem }}</td>
            <td>{{ problem_message.getDateInProperStringForm() }}</td>
            <td>{{ problem_message.solved }}</td>
            <td style="text-align: center">{% if problem_message.solved == 'No' %}
                    <a href="{{ path('finishedProblem', {'problemMessageId': problem_message.id}) }}"><i class="fa fa-times" style='color: red' aria-hidden="true"></i></a>
                {% else %}
                    <a><i class="fa fa-check" style='color: green' aria-hidden="true"></i></a>
                {% endif %}</td>
        {% else %}
            <th class="list-group-item-info"><b>No problem messages found for you.</b></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
