{% extends "::base.html.twig" %}

{% block title %}AppBundle:Werkbeheerder:asignProblemToTechnician{% endblock %}

{% block body %}
<h1>Welcome to the Werkbeheerder:asignProblemToTechnician page</h1>
{% endblock %}
