{% extends "::base.html.twig" %}

{% block title %}AppBundle:Werkbeheerder:deleteTechnicianFromProblem{% endblock %}

{% block body %}
<h1>Welcome to the Werkbeheerder:deleteTechnicianFromProblem page</h1>
{% endblock %}
