{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <svg preserveAspectRatio="xMinYMin meet" class="svg-content">
                        <symbol id="s-text">
                            <text text-anchor="middle" x="50%" y="80%">Welcome</text>
                        </symbol>

                        <g class = "g-ants">
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                            <use xlink:href="#s-text" class="text-copy"></use>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    body { background: #222222;}
    html, body{ height: 100%; }
    body{ background: #030321; font-family: Arial; }
    svg {display: block; font: 10.5em 'Montserrat'; width: 960px; height: 300px; margin: 0.2em auto; font-weight: 800; }
    .text-copy {fill: none; stroke: white; stroke-dasharray: 6% 29%; stroke-width: 5px; stroke-dashoffset: 0%; animation: stroke-offset 5.5s infinite linear; }
    .text-copy:nth-child(1){ stroke: #031727; animation-delay: -1s; }
    .text-copy:nth-child(2){ stroke: #126872; animation-delay: -2s; }
    .text-copy:nth-child(3){ stroke: #0B877D; animation-delay: -3s; }
    .text-copy:nth-child(4){ stroke: #18C29C; animation-delay: -4s; }
    .text-copy:nth-child(5){ stroke: #88F9D4; animation-delay: -5s; }
    @keyframes stroke-offset{ 100% {stroke-dashoffset: -35%;} }
    .svg-content{ overflow: hidden;}
</style>
{% endblock %}
