{% trans_default_domain 'FOSUserBundle' %}

{% if not app.user %}
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Login</h4>
                            <form class="form" role="form" method="post" action="{{ path("fos_user_security_check") }}" id="login-nav">
                                <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}" />
                                <div class="form-group">
                                    <label class="sr-only" for="username"> Username </label>
                                    <input type="text" class="form-control" id="username" name="_username" placeholder="username" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required>
                                    <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> keep me logged-in
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="bottom text-center">
                            New here ? <a href="{{ path("fos_user_registration_register") }}"><b>Join Us</b></a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome, {{ app.user.username }}</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                You are now logged in as
                {% for role in app.user.roles if app.user.roles is not null %}
                    {{ role[5:]|lower }},
                {% endfor %}
                <li>
                    <a href="{{ path("fos_user_security_logout") }}">Logout?</a><br />
                </li>
            </ul>
        </li>
    </ul>
{% endif %}