<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Web &amp; Mobile</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('all_locations') }}">Locations</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_area') }}">Admin-Area</a></li>
                {% elseif is_granted('ROLE_TECH') %}
                    <li><a href="{{ path('technician_area') }}">My Problems</a></li>
                {% endif %}
            </ul>
            {{ render(controller('AppBundle:Default:Login')) }}
        </div>
    </div>
</nav>