{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <form id="editTechnicianForm" name="technician_edit_form" method="POST" action="{{ path('admin_submit_edit_technician') }}">
                    <div id="technician_edit_form">
                        <div>
                            <label for="email" class="required">Email</label>
                            <input type="email" id="email" name="technician_edit_form[email]" required="required" placeholder="{{ technician.email }}" />
                        </div>
                        <div>
                            <label for="username" class="required">Username</label>
                            <input type="text" id="username" name="technician_edit_form[username]" required="required" maxlength="180" pattern=".{2,}" placeholder="{{ technician.username }}"/>
                        </div>
                        <div>
                            <label for="password_first" class="required">Password</label>
                            <input type="password" id="password_first" name="technician_edit_form[plainPassword][first]" required="required" placeholder="password"/>
                        </div>
                        <div>
                            <label for="password_second" class="required">Repeat password</label>
                            <input type="password" id="password_second" name="technician_edit_form[plainPassword][second]" required="required" placeholder="password"/>
                        </div>
                        <input type="hidden" id="technician_edit_form" name="technician_edit_form[id]" value="{{ technician.id }}" />
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('admin_area') }}'">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="editTechnicianForm">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}