{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            All Technicians
                            <!-- Button trigger modal -->
                            <a class="navbar-right add-button-technician" data-toggle="modal" href="#addTechnicianModal">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </h3>
                    </div>
                    <ul class="list-group list-group-technicians-admin-area">
                    {% for technician in technicians_list if technicians_list is not empty %}
                        <li class="list-group-item">
                            {{ technician.username }}
                            <a class="remove navbar-right" href="{{ path('admin_remove_technician', { 'email': technician.email }) }}">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                            <a class="edit navbar-right" href="{{ path('admin_edit_technician', {'id': technician.id}) }}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% else %}
                        <li>No technician found.</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    <div id="addTechnicianModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Technician</h4>
                </div>
                <div class="modal-body">
                    <form id="addTechnicianForm" name="fos_user_registration_form" method="post" action="{{ path('admin_add_technician') }}" class="fos_user_registration_register">
                            <div id="fos_user_registration_form">
                                <div>
                                    <label for="fos_user_registration_form_email" class="required">Email</label>
                                    <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
                                </div>
                                <div>
                                    <label for="fos_user_registration_form_username" class="required">Username</label>
                                    <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" />
                                </div>
                                <div>
                                    <label for="fos_user_registration_form_plainPassword_first" class="required">Password</label>
                                    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
                                </div>
                                <div>
                                    <label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password</label>
                                    <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
                                </div>
                                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="9nQ-mhHn5R0ah2Dc14XgsHGmCvjkl5FB_SBSmwxiqJw" />
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="addTechnicianForm">Submit</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .add-button-technician {
            margin-right: 0.025em;
        }
        .list-group-technicians-admin-area li a {
            margin-left: 1em;
        }
        .remove {
            margin: 0 0 0 0;
        }
        #addTechnicianModal .modal-dialog {
            z-index: 9999;
        }
        .remove {
            color: red;
        }
        .list
    </style>
{% endblock %}
