{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .pointer {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">All Locations</h3>
        </div>

        <ul class="list-group">
            {% for location in locations if locations is not empty %}
                <li class="list-group-item" data-toggle="collapse" data-target="#location-id{{ location.id }}">
                    <span class="pointer">
                        <b>#{{ location.id }} </b><a href="{{ path('location', { 'locationId': location.id }) }}">{{ location.name }}</a>
                    </span>
                    <div class="row">
                        <div id="location-id{{ location.id }}" class="collapse col-md-12">
                            <div class="col-md-6">
                                {{ render(controller('AppBundle:Location:StatusMessageListDetails', { 'locationId': location.id })) }}
                            </div>

                            <div class="col-md-6">
                                {{ render(controller('AppBundle:Location:ProblemMessageListDetails', { 'locationId': location.id })) }}
                            </div>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>No locations found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}