{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title">Status messages of <b>{{ location.name }}</b></h3>
            </div>
            {{ render(controller('AppBundle:Location:StatusMessage', { 'locationId': location.id })) }}
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title">Problem messages of <b>{{ location.name }}</b>
                    <button type="button" onclick="location.href='{{ path('new_problem') }}'" class="btn btn-xs btn-success pull-right">Add Problem</button></h3>
            </div>
            {{ render(controller('AppBundle:Location:ProblemMessage', { 'locationId': location.id })) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
