<ul class="list-group">
    {% for problem_message in problem_messages if problem_message is not empty %}
        <li class="list-group-item">
            <b># {{ problem_message.id }}</b> {{ problem_message.problem }}
            - Made on {{ problem_message.getDateInProperStringForm() }}
            {% if problem_message.image is not empty %}
                <a href="{{ asset('uploads/problemImages/' ~ problem_message.image) }}" target="_blank">View image</a>
            {% endif %}
            <div class="pull-right">
                Is solved?
                    {% if problem_message.solved == "No" %}
                        <b style="color: red">{{ problem_message.solved }}&nbsp;</b>
                    {% else %}
                        <b style="color: green">{{ problem_message.solved }}&nbsp;</b>
                    {% endif %}
                {% if problem_message.solved == "No" and is_granted('ROLE_MANAGER')%}
                    <form method="post" action="{{ path('assignProblemToTechnician') }}">
                        <input type="hidden" value="{{ problem_message.id }}" name="problemMessageId">
                        {% if problem_message.technicianId == 0 %}
                        <select style="color: #0f0f0f" name="technicianId" onchange="submit();">
                            <option value="0">No technician selected</option>
                            {% for technician in technicians %}
                            <option value="{{ technician.id }}">{{ technician.username }}</option>
                            {% endfor %}
                        </select>
                            {% else %}
                                {% for technician in technicians %}
                                    {% if technician.id == problem_message.technicianId %}
                                        Assigned to: {{ technician.username }}
                                        <a style="color: red" href="{{ path('deleteTechnicianFromProblem', {'problemMessageId': problem_message.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </li>
    {% else %}
        <li class="list-group-item list-group-item-danger">
            <b>No problem message found for this location.</b>
        </li>
    {% endfor %}
</ul>
 {% block stylesheets %}
<style type="text/css">
    form {
        float: right;
        display: inline-block;
    }
</style>
{% endblock %}