<ul class="list-group">
    {% for status_message in status_messages if status_messages is not empty %}
        <li class="list-group-item">
            <b>#{{ status_message.id }} </b><a href="http://www.vagrant.be/project/web/app_dev.php/status/{{ status_message.id }}">{{ status_message.status }}</a> - Made on {{ status_message.getDateInProperStringForm() }}
        </li>
    {% else %}
        <li class="list-group-item list-group-item-danger">
            <b>No status found for this location.</b>
        </li>
    {% endfor %}
</ul>