{% extends 'base.html.twig' %}

{% block body %}
    <h3>Status Message <a href="/project/web/app_dev.php/location/{{ location_details.Id }}">@{{ location_details.Name }}</a></h3>
<div class="panel panel-primary panel-{{ status_details.StatusColor(status_details.status) }}">
    <div class="panel-heading">
        <h3 class="panel-title ">{{ status_details.status }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">
                    Made on: {{ status_details.DateInProperStringForm }}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}