{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form,{attr: {novalidate: 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(form.locationId) }}
        {{ form_widget(form.locationId) }}
        {{ form_errors(form.locationId) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>
    <div class="form-group">
        {{ form_label(form.problem) }}
        {{ form_widget(form.problem) }}
        {{ form_errors(form.problem) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>
    <div class="form-group">
        {{ form_label(form.solved) }}
        {{ form_widget(form.solved) }}
        {{ form_errors(form.solved) }}
    </div>
    {{ form_end(form)}}
{% endblock %}
{% block stylesheets %}
<style type="text/css">
    form textarea, form select, form button {
        color: black;
    }
    .form-group label {
        float: left;
        margin-right: 0.5em;
    }
</style>
{% endblock %}