{% if problemMessages is not empty %}
    <h5>Latest problem messages ({{ problemMessages|length }}): </h5>
    <ul class="list-group">
        {% for problemMessage in problemMessages if problemMessages is not empty %}
            <li class="list-group-item list-group-item-{{ problemMessage.SolvedColor(problemMessage.Solved) }}">
                {{ problemMessage.id }} - Made on: {{ problemMessage.DateInProperStringForm }}
                <p class="pull-right">Is solved?
                    <b>{{ problemMessage.solved }}</b>
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="list-group">
        <li class="list-group-item">No problem messages found.</li>
    </ul>
{% endif %}