{% if statusMessages is not empty  %}
    <h5>Latest status messages ({{ statusMessages|length }}): </h5>
    <ul class="list-group">
        {% for statusMessage in statusMessages%}
            <li class="list-group-item list-group-item-{{ statusMessage.StatusColor(statusMessage.status) }}">
                {{ statusMessage.status }} - Made on: {{ statusMessage.DateInProperStringForm }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="list-group">
        <li class="list-group-item">No status messages found.</li>
    </ul>
{% endif %}